.texto-menor{
    font-size: 13px;
  
}

.divs-facilidades{
 width: 325px;
}

.div-novidades {
    width: 700px;
}
.texto-icone{
    color:#DAFF01;
}

.botao-lilas{
    background-color: #9353FF;
   
}

.posicao{
    top: 40%;
}

@media(max-width: 768px){
    .div-novidades {
        width: 696px;
    }
}
@media(max-width: 375px){
    .div-novidades {
        width: 350px;
    }
}